<div class="container">
 
    <mat-card>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <mat-card-header>
        <mat-card-title>Regístrate</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label> Usuario</mat-label>
          <input matInput type="text" class="form-control" id="name"
                required
                [(ngModel)]="model.username" name="name" placeholder="Usuario*" minlength="4">
        </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password"  class="form-control" id="password"
             [(ngModel)]="model.password" name="password" placeholder="Contraseña*" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}">
    </mat-form-field>
    <mat-form-field> 
      <mat-label>Confirmar Contraseña:</mat-label>
      <input matInput type="password"  class="form-control" id="password2" name="password2" placeholder="Confirmar Contraseña*" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo Electrónico:</mat-label>
      <input matInput type="email" class="form-control" id="email" placeholder="Correo Electrónico*"
             required email
             [(ngModel)]="model.email" name="email">
    </mat-form-field>
      <mat-checkbox name="active" ngModel required>He leído y acepto los términos y condiciones</mat-checkbox>
  </mat-card-content>
      <mat-card-actions>
      <button mat-raised-button type="submit" class="btn btn-success" id="bregister" [disabled]="userForm.invalid" >Regístrate</button>
      <button mat-raised-button type="button" class="btn btn-default" id="blogin"><a routerLink="/login">Inicia Sesión</a></button>
  </mat-card-actions>
  </form>
</mat-card>
</div>