.container{

}
mat-card{
    background-color:#b8f7e6;
    border-radius: 15px;
    padding:5%;
    margin:auto;
    width:min-content;
}
#blogin{
    background-color: #fff6be ;
    color: black;
    border: 0px;
    margin-left:5%;
    margin-top: 5%; 
}
#bregister{
    background-color: #ffd3b4;
    color: black;
    border:0px;
    margin-top: 5%;
}
#bregister:disabled{
    background-color: #f5e9e0;
}
a{
    color:black;
}
#error{
    margin-top:5%;
}
.ocultar{
    display:none;
}
.show{
    display:block;
}

  