<div class="container" >
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      
      <h1>Iniciar Sesión</h1>
      <mat-form-field>
        <mat-label>Usuario:</mat-label>
        <input matInput type="text" class="form-control" id="name"
                [(ngModel)]="model.username" placeholder="Usuario*" name="name" required>
                <mat-hint>Este campo es obligatorio*</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>Contraseña:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  class="form-control" id="password"
                [(ngModel)]="model.password" placeholder="Contraseña*" name="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>       
      </mat-form-field>
      <div class="form-group row">
        <button type="submit" class="btn btn-success" id="blogin" [disabled]="userForm.invalid">Iniciar Sesión</button>
        <button type="button" class="btn btn-default"id="bregister"><a routerLink="/signin">Registrate</a></button>
    </div>
  </form>
    
    <div class="row">
      <div class="alert alert-danger" role=alert id="error">
        <button type="button" class="close" (click)="ocultarAlerta($event)" id="alerta">&times;</button>
        Error en las credenciales
      </div>
    </div>
</div>

