
mat-card{
    background-color:#b8f7e6;
    border-radius: 15px;
    padding:5%;
    margin:auto;
    width:min-content;
}

mat-card-actions{
    display:flex;
    flex-direction: row;
}

#blogin{
    background-color:#ffd3b4 ;
    color: black;
    border: 0px;
    margin-top: 5%; 
}
#bregister{
    background-color: #fff6be ;
    color: black;
    border: 0px;
    margin-top: 5%; 
}
#blogin:disabled{
    background-color: #f5e9e0;
}
a{
    color:black;
}
#error{
    margin-top:5%;
    padding:5%;
    background-color: #f8d7da;
    color:#721c24;
    width:max-content;
    border-radius: 5px;
}
.ocultar{
    display:none;
}
.show{
    display:flex;
    flex-direction: row;
}
input:checked{
    box-shadow: none;
    border:0px;
}
