<div class="container" >
    <mat-card>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Usuario:</mat-label>
        <input matInput type="text" class="form-control" id="name"
                [(ngModel)]="model.username" placeholder="Usuario*" name="name" required>
                <mat-hint>Este campo es obligatorio*</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>Contraseña:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  class="form-control" id="password"
                [(ngModel)]="model.password" placeholder="Contraseña*" name="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>       
      </mat-form-field>
    </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" class="btn btn-success" id="blogin" [disabled]="userForm.invalid">Iniciar Sesión</button>
        <button mat-raised-button type="button" class="btn btn-default"id="bregister"><a routerLink="/signin">Registrate</a></button>
    </mat-card-actions>
</form>
      <div class="alert" role=alert  id="error">
        <p>Error en las credenciales</p> 
        <button mat-icon-button matSuffix aria-label="close" (click)="ocultarAlerta($event)">
          <mat-icon>close</mat-icon>
        </button> 
      </div>
  </mat-card>
  </div>

