
.container{
    background-color:#b8f7e6;
    padding:10%; 
    border-radius: 15px;
    width:max-content;
    margin-top: 5%;
    margin-left: 5%;

}
h1{
margin-bottom: 15%;
}
#blogin{
    background-color:#ffd3b4 ;
    color: black;
    border: 0px;
    margin-top: 5%; 
    ;
}
#bregister{
    background-color: #fff6be;
    color: black;
    margin-left:5%;
    margin-top: 5%;
}
input{
    width:fit-content;
}
a{
    color:black;
}
#error{
    margin-top:5%;
}
.ocultar{
    display:none;
}
.show{
    display:block;
}
:invalid :-ms-input-placeholder{
    color:red;
}