<div class="card"id="calendar" >
  <h3 class="card-header" id="monthAndYear"></h3>


  <table class="table table-bordered table-responsive-sm" summary="Calendario del mes en curso" id="calendar">
    <thead>
    <tr>
      <th id="domingo">Domingo</th>
      <th id="Lunes">Lunes</th>
      <th id="Martes">Martes</th>
      <th id="Miércoles">Miércoles</th>
      <th id="Jueves ">Jueves</th>
      <th id="Viernes">Viernes</th>
      <th id="Sabado">Sábado</th>
    </tr>
    </thead>

    <tbody id="calendar-body">
    </tbody>

  </table>
</div>
